@model KDW.Models.DepartmentToStocks

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DepartmentToStocks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.FNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.FNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock.FNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock.FNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOL.FNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOL.FNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComputerNames.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputerNames.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
