@model IEnumerable<KDW.Models.DepartmentToStocks>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Главная</h2>

<p>
    @Html.ActionLink("Создать", "Create", null, new {@class = "btn btn-success btn-block"})
</p>
<table id="T" class="table table-bordered table-striped">
    <tr>
        <th>
            @Resources.Resource.Department
        </th>
        <th>
            @Resources.Resource.Stock
        </th>
        <th>
            Main
        </th>
        <th>
            @Resources.Resource.MOL
        </th>
        <th>
            @Resources.Resource.TochkaVipuska
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Department.FName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Stock.FName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Main)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MOL.FName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ComputerNames.Name)
    </td>
    <td>
        @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
        @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
    </td>
</tr>
}

</table>
<p><a href="/Home/Index" class="btn btn-success btn-block">В главное меню &raquo;</a> </p>
