@model KDW.Models.YZRoleWorks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>YZRoleWorks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.YZRoles.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YZRoles.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YZWorks.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YZWorks.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
