@model IEnumerable<KDW.Models.InventVedomost>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}


<style>
    .description {
        width: 200px;
        word-wrap: break-word;
        word-break: break-all;
        font-size: 10px
    }
</style>

<!-- Modal -->
<div class="modal fade" id="PrintQRModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xxl" style="width:100%" role="document">
        <div class="modal-content">
            <div class="modal-header">



                <button class="btn btn-danger btn-block" type="button" class="close hide" data-dismiss="modal">X</button>

                <button id="X" type="button" class="close hide" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="PrintQR">

                </div>



            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="QRsForPrint" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xxl" style="width:100%" role="document">
        <div class="modal-content">
            <div class="modal-header">



                <button class="btn btn-danger btn-block close hide" type="button"  data-dismiss="modal">X</button>

                <button id="X" type="button" class="close hide" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div id="QRs">

                </div>



            </div>
        </div>
    </div>
</div>


<table id="T" class="table table-bordered table-striped">
    @if (Model != null)
    {
        string ShowStock = "";
        string ShowProhodOne = "";
        string ShowProhodTwo = "";
        string ShowProhodThree = "";
        string ShowOtklonenieOne = "";
        string ShowOtklonenieTwo = "";


        if (ViewBag.Prohod == 1)
        {
            ShowStock = "";
            ShowProhodOne = "";
            ShowOtklonenieOne = "";
            ShowOtklonenieTwo = "";
            ShowProhodTwo = "hidden";
            ShowProhodThree = "hidden";
        }
        if (ViewBag.Prohod == 2)
        {
            ShowStock = "";
            ShowProhodOne = "";
            ShowProhodTwo = "";
            ShowOtklonenieOne = "hidden";
            ShowOtklonenieTwo = "hidden";
            ShowProhodThree = "hidden";
        }
        if (ViewBag.Prohod == 3)
        {
            ShowStock = "";
            ShowOtklonenieOne = "hidden";
            ShowOtklonenieTwo = "hidden";
            ShowProhodOne = "hidden";
            ShowProhodTwo = "";
            ShowProhodThree = "";
        }
        <thead>
            <tr>

                <td style="font-size:12px">
                    @Resources.Resource.PartNumber
                </td>
                <td style="font-size:12px" class="TRIN" hidden>
                    @Resources.Resource.Nomenklatura
                </td>

                <td style="font-size:12px"  @ShowStock>
                    @Resources.Resource.UchetniOstatok
                </td>
                <td style="font-size:12px" @ShowProhodOne>
                    @Resources.Resource.QTYFact 1
                </td>
                <td style="font-size:12px" @ShowOtklonenieOne>
                    @Resources.Resource.Otklonenie 1
                </td>
                <td style="font-size:12px" @ShowProhodTwo>
                    @Resources.Resource.QTYFact 2
                </td>
                <td style="font-size:12px" @ShowOtklonenieTwo >
                    @Resources.Resource.Otklonenie 2
                </td>
                <td style="font-size:12px" @ShowProhodThree>
                    @Resources.Resource.QTYFact 3
                </td>
                <td style="font-size:12px" @ShowProhodThree>
                    @Resources.Resource.Otklonenie 3
                </td>

                <!--
                    <td style="font-size:12px" class ="TREM">
                        @Resources.Resource.VosmognieDeistviya
                    </td>
    -->

            </tr>
        </thead>
        foreach (var item in Model)
        {
            Guid G = Guid.NewGuid();
            string Cvet = "";
            decimal StockQTY = Math.Round(item.QTY, 3);
            decimal QRQTY = Math.Round(item.QTYFact, 3);
            decimal QTY2 = Math.Round(item.QTYProhod2, 3);
            decimal QTY3 = Math.Round(item.QTYProhod3, 3);
            decimal Otklonenie = Math.Round(QRQTY - StockQTY);
            decimal Otklonenie2 = Math.Round(QTY2 - QRQTY);
            decimal Otklonenie3 = Math.Round(QTY3 - QRQTY);
            string BtnText = Resources.Resource.PostuplenieNaSklad;
            string BtnCvet = "btn btn-success";
            string StockName = "";
            string StockFromName = "";
            int Prohod = ViewBag.Prohod;


            //     string NameTR = item.SWE.Item.FNumber + "_" + item.SWE.DateStart.ToString("dd");
            if (ViewBag.Prohod == 1)
            {
                if (StockQTY < QRQTY)
                {
                    Cvet = "warning";
                }
                if (StockQTY == QRQTY)
                {
                    Cvet = "success";
                }
                if (QRQTY <= 0)
                {
                    Cvet = "danger";
                }

            }

            if (ViewBag.Prohod == 2)
            {
                if ( QRQTY< QTY2)
                {
                    Cvet = "warning";
                }
                if (QTY2 == QRQTY)
                {
                    Cvet = "success";
                }
                if (QTY2 <= 0)
                {
                    Cvet = "danger";
                }

            }
            if (ViewBag.Prohod == 3)
            {
                if (QTY2 < QTY3)
                {
                    Cvet = "warning";
                }
                if (QTY3 == QTY2)
                {
                    Cvet = "success";
                }
                if (QTY3 <= 0)
                {
                    Cvet = "danger";
                }

            }

<tr class="@Cvet ">
    <td style="font-size:12px">
        <a onclick="ShowTR('@G',@item.ItemId)">@item.t_Item.FNumber</a>

    </td>
    <td class="TRIN" style="font-size:12px" hidden>
        @item.t_Item.FName
    </td>

    <td style="font-size:12px" @ShowStock>
        @StockQTY
    </td>

    <td id="QTYFACT_@G" style="font-size:12px" @ShowProhodOne>
        @QRQTY
    </td>
    <td id="OTKLONENIE_@G" style="font-size:12px" @ShowOtklonenieOne>
        @Otklonenie
    </td>

    <td id="QTYFACT_@G" style="font-size:12px" @ShowProhodTwo>
        @QTY2
    </td>
    <td id="OTKLONENIE_@G" style="font-size:12px" @ShowOtklonenieTwo>
        @Otklonenie2
    </td>
    <td id="QTYFACT_@G" style="font-size:12px" @ShowProhodThree>
        @QTY3
    </td>
    <td id="OTKLONENIE_@G" style="font-size:12px" @ShowProhodThree>
        @Otklonenie3
    </td>
    <!--
     <td class="TREM">
         <a class="btn btn-default" onclick="ShowTR('@G',@item.ItemId)">

             @Resources.Resource.GenerateQR

         </a>
     </td>
       -->

</tr>
            <tr id="DOP_@G" hidden class="TREM">
                <td colspan="5">
                    <!--data-toggle="collapse" href="#@G"-->
                    <!--  <div class="collapse" id="@G">
    <div class="card card-body">
        -->
                    <p>
                        @item.t_Item.FName
                    </p>
                    <p>
                        <div class="col-sm-3">
                            <input id="QTY_@G" value="0" type="number" step="0.001" class="btn btn-warning" />
                        </div>
                        <div class="col-sm-3">
                            <input id="ZAKAZ_@G" class="btn btn-default" placeholder="@Resources.Resource.ZakazPostavshiku" autocomplete="on" onkeyup="SearchZakaz('@G',@item.ItemId)" />
                        </div>
                        <div class="col-sm-3">
                            <input id="MESTO_@G" class="btn btn-warning" placeholder="@Resources.Resource.ScanMestoRazmesheniya" onclick="ochistka('@G')" />
                        </div>
                        <div class="col-sm-3">

                            <button id="BUTTON_@G" class="btn btn-success " onclick="GenerateQRCode('@G',@item.ItemId)">@Resources.Resource.GenerateQR</button>
                        </div>
                    </p>
                    <p>
                        <div id="QRRRS_@G" class="row">

                        </div>
                    </p>





                    <!--
     <button onclick="QRsModal('@G',@item.ItemId)" class="btn btn-default">选择已生成二维码 @Resources.Resource.MyDocs</button>
    -->
                    <!--  </div>
      </div>
        -->
                </td>
              
            </tr>


        }
    }

</table>


<p><a href="/Home/Index" class="btn btn-success btn-block">@Resources.Resource.VGlavnoeMenu &raquo;</a> </p>

<script>
    function ochistka(GUID)
    {
        
        $("MESTO_" + GUID).val('');
    }
</script>

<script>
    function ShowTR(GUID, ItemId)
    {
        var TR = $('#DOP_' + GUID);
        if ($('#DOP_' + GUID + ':hidden')) {
            
            TR.show();
            QRsModal(GUID, ItemId);
        }
        else
        {
            TR.hide();
          
        }
    }
</script>
<script>
    function QRsModal(GUID, ItemId)
    {
        var Modal = $("#QRsForPrint");
        var QRs = $("#QRRRS_" + GUID);
        var STOCKID = $('#StockID').val();
        QRs.load('@Url.Action("InventQRs", "POOrderEntries")?Stock=' + STOCKID + '&ItemId=' + ItemId);
       // $("#QRsForPrint").modal('show');;

    }
</script>

<script>
    function SearchZakaz(GUID,ItemId)
    {
        var Text = $("#ZAKAZ_" + GUID).val();
       // alert(Text);
           $("#ZAKAZ_"+GUID).autocomplete
        (
            {
                source: '@Url.Action("AutocompleteSearchZakazPostavshiku", "POOrderEntries")?Text=' + Text + '&ItemId=' + ItemId,
                minLength: 3,
                    select: function (event, ui)
                    {
                        //  $.post('@Url.Action("SetWork", "Home")', { User: ui.item.label });
                        //   }

                    }
                }

        );
    }
</script>

<script>
    function CHGtoSTOCK(Id, DvigenieID)
    {
        var Button = $('#Button_' + Id);
        var Input = $('#' + Id);
        var QTY = $('#' + Id).val();
        Button.hide();
        alert("StockWorkEntryId = " + Id + " & DvigenieId=" + DvigenieID + " & QTY=" + QTY);
        var url = "@Url.Action("CHGJsonStockWork", "POOrderEntries")?StockWorkEntryId=" + Id + "&DvigenieId=" + DvigenieID + "&QTY=" + QTY ;
        $.post(url, function (data) {
            var S = data.split(';');
            if (S[0] == 'Ok')
        {
        QRID = parseInt(S[1]);
        alert('@Resources.Resource.PeremeshenieUspeshno');
          //  var url = "@Url.Action("PrintToPrinter", "POOrderEntries")?QRID=" + QRID;

            var url = "@Url.Action("PrintToPrinter", "POOrderEntries")?QRID=" + QRID;
            Button.text(S[6]);
                Button.attr('onclick', 'OpenModal("' + QRID + '")');
         Button.removeClass("btn-success").addClass("btn-info");
                Button.show();
                OpenModal(QRID);
             //   PrintImage(url);
             //   window.location.(url);
      //  window.location.replace(url);
        }
        else
        {
                alert(data);
                Button.show();
        //location.reload();

        }

        });
    }
</script>
<script>
    function FindNumber() {
        var Number = $('#FindPartNumber').val();
        $.each($(".table").find("tr"), function () {

            if ($(this).text().toLowerCase().replace(/\s+/g, '').indexOf(Number.replace(/\s+/g, '').toLowerCase()) == -1)
                $(this).hide();
            else
                $(this).show();
        });

    }
</script>
<script>
    function OpenModal(QRID) {
           var printurl = "@Url.Action("PrintToPrinter", "POOrderEntries")?QRID=" + QRID;
                        $("#PrintQR").load(printurl);
                        $("#PrintQRModal").modal('show');
    }
</script>
<script>

    function ImagetoPrint(source) {


        var W = "200px"
        return "<html><head><scri" + "pt>function step1(){\n" +
            "setTimeout('step2()', 10);}\n" +
            "function step2(){window.print();window.close()}\n" +
            "</scri" + "pt><style> .description { width: " + W + "; word - wrap: break-word; word -break: break-all; font-size:10px }</style ></head><body onload='step1()'>\n" +
            "<img width ='" + W + "' height = '" + W + "' src='" + source + "' /></body></html>";
    }

    function PrintImage(source) {

        var Pagelink = "about:blank";
        var pwa = window.open(Pagelink, "_new");
        pwa.document.open();
        pwa.document.write(ImagetoPrint(source));
        pwa.document.close();
    }

</script>

<script>
    function PoiskQR()
    {
        var Num = $('#NPartNumber').val();
          var url2 = "@Url.Action("SkladskieWorks", "POOrderEntries")?QRData=" + Num ;
        $.post
            (url2, function (data)
            {
                window.location.replace(url2);


            }

        );
    }
</script>
<script>
    function QTYVQR()
    {
        var Num = $('#NPartNumber').val();
        var QR = Num.split(';');
        var PartNumber = QR[0];
        alert(PartNumber);
       // var TR = $('#TRQTYINQR');
      //  TR.hide();
          var url2 = "@Url.Action("QTYinQRJSON", "POOrderEntries")?QRData=" + Num ;
        $.post
            (url2, function (data)
            {
                alert(data);
                $("#SkolkoVQR").val(data);
               // TR.show('slow');
                $('table tr').each(function () {
                    $(this).hide();
                });
                $('#udalit').each(function () {
                    $(this).remove();
                });
                var All = $('[name = "' + PartNumber +'"]');

                All.each(function () {
                    var Val = $(this).attr('qty');
                    var Id = $(this).uniqueId();
                    var Peremestit = $(this).val();
                    alert(Val);
                    if (data >= Val)
                    {
                        data = Val;
                    }
                    $(this).append('<tr id="udalit"><td><input class="btn btn-warning" value = ' + data + ' type="number" step="0.001"></td><td><button class="btn btn-success btn-block">@Resources.Resource.PeremestitNaDrugoiSklad</button></td></tr>')
                    $(this).show();
                });
            }

        );
    }
</script>
<script>
    function GenerateQRCode(GUID,ItemId)
    {
       // alert("GUID=" + GUID + "ITEMID=" + ItemId);
        var QTY = $('#QTY_' + GUID).val();
        var QTYFact = $('#QTYFACT_' + GUID);
        var QTYFACTV = parseFloat(QTYFact.text());
        var QTYVAL = parseFloat(QTY);
        var ZAKAZ = $('#ZAKAZ_' + GUID).val();
        var MESTO = $('#MESTO_' + GUID).val();
        var STOCKID = $('#StockID').val();
        var OTKLONENIE = $('#OTKLONENIE_' + GUID);
        var OTKLONENIEV = parseFloat(OTKLONENIE.text());
        var BUTTON = $('#BUTTON_' + GUID);
     
       // alert("QTY = " + QTY + "ZAKAZ = " + ZAKAZ + "MESTO = " + MESTO + "STOCKID = " + STOCKID + "ItemId = " + ItemId + "FACTVAL = " + QTYFACTV + "OTKLON = " + OTKLONENIEV);
        //  alert("@Resources.Resource.PodtverditPeremeshenie ");
        if (confirm("@Resources.Resource.GenerateQR " + QTY + " @Resources.Resource.Edinic ?"))
        {
            BUTTON.hide();

            $.post('@Url.Action("VostPostVedomostJson", "POOrderEntries")', { ItemId: ItemId, Stock: STOCKID, FCommitQty: QTY, ZakazPostavshiku: ZAKAZ, MESTO : MESTO },
                function (data) {

                    var S = data.split(';');
                    if (S[0] == 'Ok') {
                        QRID = parseInt(S[1]);
                        alert('@Resources.Resource.PeremeshenieUspeshno');

                        var url = "@Url.Action("PrintToPrinter", "POOrderEntries")?QRID=" + QRID;
                        //  Button.text(S[6]);
                        //       Button.attr('onclick', 'OpenModal("' + QRID + '")');
                        //  Button.removeClass("btn-success").addClass("btn-info");
                        //    Button.show();
                        OpenModal(QRID);

                        QTYFact.text(QTYFACTV + QTYVAL);
                        OTKLONENIE.text(OTKLONENIEV + QTYVAL);
                        QRsModal(GUID, ItemId);
                        BUTTON.show();
                    }
                    else {
                        alert(data);
                        BUTTON.show();
                    }
                }


            );
        }
    }
</script>
<script>
    function OpenModal(QRID) {
           var printurl = "@Url.Action("PrintToPrinter", "POOrderEntries")?QRID=" + QRID;
        $("#PrintQR").load(printurl);
      //  $("#QRsForPrint").modal('hode');
                        $("#PrintQRModal").modal('show');
    }
</script>