@model KDW.Models.ItemView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center>
    <h2>@Resources.Resource.PeremeshenieNaSklad</h2>
</center>



@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

    <style>
        .description {
            width: 280px;
            word-wrap: break-word;
            word-break: break-all;
            font-size: 10px
        }

        .allwidth {
            min-width: 280px;
        }
    </style>
    @{
 //       decimal QTYSklad = Math.Round(ViewBag.QTYNaSklade, 2);
    }





<table id="T" class="table table-bordered table-striped">


    <tr>
        <th>
            @Resources.Resource.NaimenovanieIPartNomer
        </th>
    </tr>
    <tr>
        <td>
            <div class=" btn btn-block btn-default btn-block">@Model.Item.FNumber  </div>
        </td>

    </tr>
    <tr>
        <td>
            <Center>
                <div class=" description">@Model.Item.FNumber  @Model.Item.FName</div>
            </Center>
        </td>

    </tr>
    <tr>





        <th>
            @Resources.Resource.StockFrom
        </th>
    </tr>

    <tr>
        <td>
            <div class="btn btn-success btn-block allwidth">@Model.StockOrDep.FName</div>
        </td>



    </tr>




    <tr>

        <th>
            @Resources.Resource.StockTo
        </th>
    </tr>
    <tr>
        <td>
            <input class="btn btn-block btn-default" id="StockFilter" placeholder="@Resources.Resource.PoiskSklada" onkeyup="FilterStock()" />  
            </td>
    </tr>
    <tr>
        <td>
            @Html.DropDownList("ToStockID", new SelectList(ViewBag.Stocks, "Key", "Value", 13689), htmlAttributes: new { @class = "form-control btn btn-warning  btn-block", @onchange = "PoiskMOL()" })
        </td>
    </tr>
    <!--
       <tr>
           <td>
               Stend
           </td>
       </tr>
       <tr>
           <td>
               @Html.DropDownList("StendID", new SelectList(ViewBag.Stends), htmlAttributes: new { @class = "form-control btn btn-warning  btn-block" })
           </td>
       </tr>
           -->


    <tr>
        <th>
            @Resources.Resource.MOL
        </th>
    </tr>
    <tr>
        <td>
            @Html.DropDownList("Manager", new SelectList(ViewBag.Users), htmlAttributes: new { @class = "form-control btn btn-warning  btn-block" })
        </td>
    </tr>
    <tr>

        <th>
            @Resources.Resource.QTYQR
        </th>
    </tr>
    <tr>
        <td>
            <input value=@Math.Round(Model.QTY,2) class="form-control btn btn-warning btn-block" />
        </td>
    </tr>
    <tr>

        <th>
            @Resources.Resource.QTYKPeremesheniu
        </th>
    </tr>
    <tr>
        <td>
            <input value="0" id="QTY" type="number" step="0.01" class="form-control btn btn-warning btn-block" />
        </td>
    </tr>


    <tr>
        <th>
            @Resources.Resource.ScanMestoRazmesheniya
        </th>
    </tr>
    <tr>
        <td>
            <input id="Mesto" class="form-control btn btn-warning btn-block" />
        </td>
    </tr>

    <tr>
        <td colspan="1">
            <button class="btn btn-block btn-success  allwidth" id="PeremestitB" onclick="PeremestitNaSklad()">@Resources.Resource.PodtverditDvigenie</button>
        </td>
    </tr>
    <tr>
        <td>
            <a href="/Home/Index" class="btn  btn-success btn-block allwidth">@Resources.Resource.VGlavnoeMenu &raquo;</a>
        </td>
    </tr>
</table>

<script>
    function PoiskMOL()
    {
       // alert("Поиск мола");
        var Stock = $("#ToStockID").val();
        var Dropdown = $('#Manager');
        Dropdown.empty();
        var url = "@Url.Action("AutocompleteSearchMOLs", "POOrderEntries")?Stock=" + Stock;

            $.post(url,
                function (data)
                {
                    $.each(data, function (key, value) {
                        Dropdown.append($('<option>', { value: value }).text(value));
                    });


                }
        );




    }
</script>

<script>
    function FilterStock()
    {
        var Filter = $('#StockFilter').val();
        var Dropdown = $('#ToStockID');
        Dropdown.empty();
        var url = "@Url.Action("AutocompleteSearchStorage", "POOrderEntries")?term=" + Filter;

            $.post(url,
                function (data)
                {
                   // alert(data);
                    $.each(data, function (key, value) {
                        Dropdown.append($('<option>', { value: key }).text(value));
                    });


                }
        );

    }
</script>
<script>

    function PeremestitNaSklad()
    {
        $('#PeremestitB').hide();//removeClass("btn-success").addClass("btn-default");
        var QTY = $('#QTY').val();
        QTY = QTY.replace(',', '.');
        var ToStock = $('#ToStockID').val();
        var Manager = $('#Manager').val();
        var Mesto = $('#Mesto').val();
        var StockFrom = '@Model.Stock.FName';
        var ItemID = @Model.Item.FItemID;
      //  alert(QTY + ";" + ToStock + ";" + Manager + ";" + StockFrom + ";" + ItemID);
        var url = "@Url.Action("PeremeshenieSoSkladaNaSkladJsonQR", "POOrderEntries")?Manager=" + Manager + "&StockTo=" + ToStock + "&QTY=" + QTY + "&DvigenieId=" +@Model.LastDvig.Id+"&Mesto="+Mesto;
        if (ToStock != null)
        {
          //  alert("Ok");
             $.post(url,
                function (data)
                {

                     var S = data.split(';');
                                if (S[0] == 'Ok')
                                {
                                    if (S[2].indexOf("True") >= 0)
                                    {
                                        QRID = parseInt(S[1]);
                                     var url = "@Url.Action("PrintToPrinter", "POOrderEntries")?QRID=" + QRID ;
                                     window.location.replace(url);
                                    }
                                     else
                                    {
                                        var url = "@Url.Action("QRScan", "POOrderEntries")?QRData=" + "@Model.LastDvig.QRTable.QRstring";
                                        window.location.replace(url);
                                    }
                                     alert('@Resources.Resource.PeremeshenieUspeshno');

                                }
                                else
                                {
                                    alert(data);
                                    $('#PeremestitB').show();
                                   // location.reload();

                                }


                }
            );
        }

    }
</script>
<script>


    function Peremestit() {
        var QTY = $('#QTY').val();
        var ToStock = $('#ToStockID').val();

        if (ToStock != null) {
            $.post('@Url.Action("PeremeshenieNaSkladJSON", "POOrderEntries")', { ItemID:@Model.Item.FItemID, QTY: QTY, StockID:@Model.Stock.FItemID, plus: false },
                function (data)
                {
                    if (data == true) {
                        $.post('@Url.Action("PeremeshenieNaSkladJSON", "POOrderEntries")', { ItemID:@Model.Item.FItemID, QTY: QTY, StockID: ToStock, plus: true },
                            function (data) {
                                var S = data.split(';');
                                if (S[0] == 'Ok')
                                {
                                     QRID = parseInt(S[1]);
                                     alert('@Resources.Resource.PeremeshenieUspeshno');
                                     var url = "@Url.Action("PrintToPrinter", "POOrderEntries")?QRID=" + QRID ;
                                     window.location.replace(url);
                                }
                                else
                                {
                                    alert(data);
                                    location.reload();

                                }
                            });
                    }
                    else
                    {
                        alert(data);
                    }


                }
            );
        }
    }

</script>
<script>
    function FindStends()
    {
        var Stock = $("#ToStockID").val();
        var Dropdown = $('#StendID');
        Dropdown.empty();
        var url = "@Url.Action("AutocompleteSearchStends", "POOrderEntries")?Stock=" + Stock;

            $.post(url,
                function (data)
                {
                    $.each(data, function (key, value) {
                        Dropdown.append($('<option>', { value: value }).text(value));
                    });
                }
        );
    }
</script>
