@model IEnumerable<KDW.Models.PPBOMEntry>


<center>
    <h2>@Resources.Resource.TochkaVipuska </h2>

</center>



<p><a href="/Home/Index" class="btn btn-success btn-block">@Resources.Resource.VGlavnoeMenu &raquo;</a> </p>

<!-- Modal -->
<div class="modal fade" id="PrintQRModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xxl" style="width:100%" role="document">
        <div class="modal-content">
            <div class="modal-header">



                <button class="btn btn-danger btn-block" type="button" onclick="ReloadPage()">X</button>

             
            </div>
            <div class="modal-body">

                <div id="PrintQR">

                </div>



            </div>
        </div>
    </div>
</div>

<table id="T" class="table table-bordered table-striped">



    @{int Procent = 0; try { Procent = Convert.ToInt32(Math.Round((100 * ViewBag.StarWork.QTYFact) / ViewBag.StarWork.QTY, 0)); } catch { }
        int VsegoProcent = 0; try { VsegoProcent = Convert.ToInt32(Math.Round((100 * ViewBag.Work.FCommitQty) / ViewBag.Work.FQty, 0)); } catch { }
    }
    <tr>
        <th colspan="6" style="font-size:40px">
            <center>
                @if (ViewBag.Work != null)
                {
                    <p>@ViewBag.Work.FBillNo </p>
                    <p> ( @ViewBag.StarWork.QTYFact / @ViewBag.StarWork.QTY )</p>

                }
                else
                {
                    <p>@Resources.Resource.NeNaznacheno </p>
                }



            </center>

        </th>






    </tr>

    <tr>
        <th colspan="6" style="font-size:20px">
            @try
            {
                <center>
                    <p>
                        @ViewBag.StarWork.DateStart.Value.ToString("yyyy.MM.dd")
                    </p>
                </center>
            }
            catch
            {

            }
        </th>
    </tr>
    @if (ViewBag.Work != null)
    {
        <tr>
            <td colspan="6">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow=" @Procent" style="width: @Procent%" aria-valuemin="0" aria-valuemax="100">    @Resources.Resource.QTYPoProizvodstvennomuZadaniu   @Math.Round(ViewBag.StarWork.QTYFact) / @Math.Round(ViewBag.StarWork.QTY)</div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-info" role="progressbar" aria-valuenow=" @VsegoProcent" style="width: @VsegoProcent%" aria-valuemin="0" aria-valuemax="100">    @Resources.Resource.ZadanieNaProizvodstvo   @Math.Round(ViewBag.Work.FCommitQty, 0) / @Math.Round(ViewBag.Work.FQty, 0)</div>
                </div>
            </td>
        </tr>

        <tr>

            <th data-field="ZakazPostavshiku" style="width:300px">
                @Resources.Resource.ZadanieNaProizvodstvo
            </th>

            <th data-field="PartNumber" style="width:300px">
                @Resources.Resource.PartNumber
            </th>
            <th data-field="Nomenklatura" colspan="3">
                @Resources.Resource.Nomenklatura
            </th>

            <th data-field="Date">
                @Resources.Resource.Date
            </th>

        </tr>



        <tr>

            <th>

                <p> @ViewBag.Work.FBillNo</p>
                <p> ★@ViewBag.StarWork.Id</p>
                <p> @ViewBag.Work.t_Department.FName</p>
            </th>
            <th>
                @ViewBag.Work.t_Item.FNumber
            </th>
            <th colspan="3">
                @ViewBag.Work.t_Item.FName
            </th>

            <th>
                @ViewBag.StarWork.WorkDate.ToString("yyyy.MM.dd")
            </th>

        </tr>

        <tr>

            <th>
                @Resources.Resource.Stock
            </th>
            <th style="width:300px">
                @Resources.Resource.MOL
            </th>

            <th>
                @Resources.Resource.QTYPoProizvodstvennomuZadaniu
            </th>
            <th colspan="3">
                @Resources.Resource.QTYPeremestit
            </th>






        </tr>

        <tr>

            <td>
                @Html.DropDownList("StockID", new SelectList(ViewBag.Stocks, "Key", "Value"), htmlAttributes: new { @class = "form-control btn btn-warning  btn-block", @onchange = "PoiskMOL()" })
            </td>
            <td style="width:300px">
                @Html.DropDownList("ManagerID", new SelectList(ViewBag.Managers), htmlAttributes: new { @class = "form-control btn btn-warning  btn-block" })
            </td>

            <th>
                <input class="btn btn-default" id="FQty" value="@ViewBag.MaxVipusk" readonly />
            </th>
            <th colspan="3">

                <input class="btn btn-warning " id="FCommitQty" value="@ViewBag.MaxVipusk.ToString().Replace(",", ".")" type="number" step="1" autofocus required />


            </th>





        </tr>


        <tr>
            <th colspan="4">
                @{

                    if (ViewBag.StarWork.QTYFact < ViewBag.StarWork.QTY)
                    {



                        if (ViewBag.MaxVipusk >= 1)
                        {
                            <p>
                                <button class="btn btn-block btn-success" id="Save" style="height:100px;text-align:center;vertical-align:central;font-size:24px" onclick="SaveCompleteWork()">@Resources.Resource.Save</button>
                            </p>

                        }
                        else
                        {
                            <p>
                                <button class="btn btn-warning btn-block " style="height:100px;text-align:center;vertical-align:central;font-size:24px">
                                    @Resources.Resource.NedostatochnoKomplekta
                                </button>
                            </p>
                        }
                    }
                    else
                    {
                        <p>
                            <button onclick="SkipWork(@ViewBag.StarWork.Id)" style="height:100px;text-align:center;vertical-align:central;font-size:24px" class="btn btn-success btn-block">@Resources.Resource.VipuskZavershen </button>
                        </p>
                    }



                }

            </th>
            <th colspan="2">
                <p>
                    <button onclick="SkipWork(@ViewBag.StarWork.Id)" style="height:100px;vertical-align:central;font-size:24px" class="btn btn-danger btn-block">@Resources.Resource.Propusk </button>
                </p>
            </th>




        </tr>
        <tr>
            <th colspan="6">
                <h4>
                    @ViewBag.OgranichenieVipuska
                </h4>
            </th>
        </tr>
        <tr>
            <th colspan="6">
                <h3> @Resources.Resource.Nomenklatura</h3>
            </th>
        </tr>

                    foreach (var x in Model)
                    {

                        string color = "success";
                        decimal Sum = 0;
                        decimal NZPQty = 0;
                        decimal FWIP = 0;
                        try
                        {
                            FWIP = x.FWIPQTY.Value;
                        }
                        catch
                        {

                        }
                        if (x.FQtyScrap == 0)
                        {
                            x.FQtyScrap = 1;
                        }
                        decimal OstalosPrinesti = Math.Round(x.FAuxQty, 0);//x.QTYOstalosToday;
                        decimal VipushenoSegodnya = Math.Round(x.FQty, 0);
                        decimal MaxPoNomenklature = Math.Round(x.FAuxQtyMust, 0);
                        decimal NugnoVipustitSegodnya = Math.Round(x.FQtyMust, 0);

                        //  NZPQty=  item.NZP.Where(y => y.Active && y.ItemId == x.FItemID).Sum(y => y.QTY);
                        NZPQty = Math.Round(FWIP, 0);//Math.Round(FWIP, 3);
                        if (OstalosPrinesti <= 0)
                        {
                            color = "success";
                        }
                        else
                        {
                            if (NZPQty > 0)
                            {
                                color = "warning";
                            }
                            else
                            {
                                color = "";
                            }

                        }


            <tr class="@color">
                <th colspan="4">
                    @x.t_Item.FName
                </th>
                <th colspan="1">
                    @x.t_Item.FNumber
                </th>
                <th colspan="1">
                    @NZPQty  / @NugnoVipustitSegodnya
                </th>

            </tr>
            <tr class="@color">
                <th colspan="4">
                    @Resources.Resource.Rashod = @Math.Round(x.FQtyScrap, 3)
                </th>
                <th colspan="2">
                    Max = @MaxPoNomenklature
                </th>
            </tr>

            foreach (var y in ViewBag.NZP)
            {
                if (y.ItemId == x.FItemID)
                {
                    <tr class="@color">
                        <th colspan="4">
                            @y.Dvigenie.ZakazPostavshiku
                        </th>
                        <th colspan="1">
                            <img src="@Url.Action("GenerateQrCode", new { QRText = y.Dvigenie.QRTable.QRstring })" width="50" height="50" alt="qr code" id="ImageQR" name="ImageToPrint" title="@ViewBag.QR" />

                        </th>
                        <th colspan="1">
                            @y.QTY
                        </th>

                    </tr>
                }
            }



            foreach (var y in ViewBag.NZPNEW)
            {
                if (y.ItemId == x.FItemID)
                {
                    <tr class="@color">
                        <th colspan="4">
                            @y.QRString
                        </th>
                        <th colspan="1">
                            <img src="@Url.Action("GenerateQrCode", new { QRText = y.QRString })" width="50" height="50" alt="qr code" id="ImageQR" name="ImageToPrint" title="@ViewBag.QR" />

                        </th>
                        <th colspan="1">
                            @y.QTYFact
                        </th>

                    </tr>
                }
            }


        }
        <tr>
            <td colspan="6">
                <h3>@Resources.Resource.Vipolneno</h3>
            </td>
        </tr>
        if (ViewBag.CINS != null && ViewBag.CINS.Count > 0)
        {
            // foreach (string s in ViewBag.Vipusheno)
            // {
            foreach (var cin in ViewBag.CINS)
            {
                <tr>

                    <td colspan="2" class="success">
                        @cin.CurrentFBillNo 
                    </td>
                    <td>
                        @cin.QTYFact
                    </td>

                    <td>
                        <img src="@Url.Action("GenerateQrCode", new { QRText = cin.QRString })" width="50" height="50" alt="qr code" id="ImageQR" name="ImageToPrint" title="@ViewBag.QR" />

                    </td>
                    <td colspan="2">
                        <button class="btn btn-success" onclick="ShowModal(@cin.Id)">@Resources.Resource.PrintQR</button>
                    </td>
                </tr>
            }
            }
            // }



        }

    </table>
<p><a href="/Home/Index" class="btn btn-success btn-block">@Resources.Resource.VGlavnoeMenu &raquo;</a> </p>
<script>
    function SkipWork(id)
    {
        var Count = @ViewBag.WorksCount;
        if (Count > 1) {
            var url2 = "@Url.Action("SkipWorkJson", "POOrderEntries")?Id=" + id;

            $.post
                (url2, function (data) {
                    var S = data.split(';');

                    if (S[0] == "Ok") {
                        alert("@Resources.Resource.Ok");
                        location.reload();


                    }
                    else {
                        alert(data);

                        //  location.reload();
                    }





                }

                );
        }
        else {
            alert('@Resources.Resource.NoWorks');
        }


    }


</script>
<script>
    function ReloadPage()
    {
        var URLNEW = "@Url.Action("PlanshetWorksNEW", "POOrderEntries")";
        window.location.replace(URLNEW);
    }
</script>
@if (ViewBag.Work != null)
{
<script>
    function SaveCompleteWork() {
        var Stock = $('#StockID').val();
        var Manager = $('#ManagerID').val();
        $("#Download").modal('show');
        $('#Save').hide();

        var InterID = $('#FInterID').val();
        var EntryID = $('#FEntryID').val();
        var FCommitQty = $('#FCommitQty').val();
        FCommitQty = FCommitQty.replace(',', '.');

        var url2 = "@Url.Action("CINfromCompleteWorkNEW", "POOrderEntries")?Stock=" + Stock + "&Manager=" + Manager + "&InterID=" + @ViewBag.Work.FInterID + "&FCommitQty=" + FCommitQty + "&StarWorkId=" +@ViewBag.StarWork.Id;

      //  var url2 = "@Url.Action("CINfromCompleteWork", "POOrderEntries")?Stock=" + Stock + "&Manager=" + Manager + "&InterID=" + @ViewBag.Work.FInterID + "&FCommitQty=" + FCommitQty + "&StarWorkId=" +@ViewBag.StarWork.Id;

     //    string ToWork, string Manager, decimal QTY, string Liniya, string ToStock
      //  SOUTplusCIN

      //  alert('StockId=' + Stock + ' ManagerID=' + Manager + ' InterId=' + InterID + ' EntryId=' + EntryID + ' FCommitQty=' + FCommitQty)
        if (FCommitQty != '' && FCommitQty != 0) {
            if (confirm("@Resources.Resource.Podtverdit " + FCommitQty + "?"))
            {
                $.post(url2, function (data) {
                    var S = data.split(';');
                    if (S[0] == 'Ok') {
                        QRID = parseInt(S[1]);
                        console.log('GoToPrint');
                        var url = "@Url.Action("PrintToPrinterNew", "POOrderEntries")?QRID=" + QRID;
                        ShowModal(QRID);



                    }
                    else {
                        alert(data);
                        $('#Save').removeClass("btn-default").addClass("btn-success");
                        //  location.reload();
                    }

                    $("#Download").modal('hide');


                }

                );
            }
        }
        else
        {
            alert('@Resources.Resource.NomenklaturiNedostatochno');
            $('#Save').show();
        }
    }
</script>
}
<script>
      //  var Mam = "@ViewBag.Managers";
      //  var availableTags =  Mam.split(",");
       // var availableTags =  source: '@Url.Action("SearchNumber", "Poligons")'
        function SearchManager () {
            $("#ManagerID").autocomplete({
                    source: '@Url.Action("AutocompleteSearchMOLByStock", "POOrderEntries")',
                    minLength: 1

            });
        };
</script>
<script>
    function ShowModal(QRID) {

        var printurl = "@Url.Action("PrintToPrinterNEW", "POOrderEntries")?QRID=" + QRID;
                    $("#PrintQR").load(printurl);
                    $("#PrintQRModal").modal('show');
    }
</script>

<script>
    function PoiskMOL()
    {
       // alert("Поиск мола");
        var Stock = $("#StockID").val();
        var Dropdown = $('#ManagerID');
        Dropdown.empty();
        var url = "@Url.Action("AutocompleteSearchMOLs", "POOrderEntries")?Stock=" + Stock;

            $.post(url,
                function (data)
                {
                    $.each(data, function (key, value) {
                        Dropdown.append($('<option>', { value: value }).text(value));
                    });


                }
        );




    }
</script>

<script>

        function SearchStorage () {
            $("#StockID").each(function () {
                var target = $(this);
              //  alert('Search' + availableTags);
                target.autocomplete({
                    source: '@Url.Action("AutocompleteSearchStorage", "POOrderEntries")',
                    minLength: 0,
                       select: function (event, ui)
                     {
                           $.post('@Url.Action("FindMOL", "POOrderEntries")', { storage: ui.item.label },
                               function (data)
                               {
                                 //  alert(data);
                                   $("#ManagerID").val(data);
                               }
                           );

                       }

                });
            });
        };
</script>