@model KDW.Models.DvigenieNEW

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    string[] S = Model.QRString.Split(';');

}

<style>
    body {
        margin: 0; /* Убираем отступы */
    }



    h1 {
        background: #000080; /* Цвет фона блока */
        color: #ffe; /* Цвет текста */
        margin: 0; /* Нулевые отступы вокруг текста */
        padding: 10px; /* Поля вокруг текста */
    }

    @@media print {
        @@page {
            padding: 0;
            margin: 0;
        }
    }
</style>
<Center>
    <h2 class="invis">
        @Resources.Resource.Uspeshno
    </h2>
    <h3 class="invis">
        @Resources.Resource.TeperRaspechataiteQR
    </h3>


    <p>
        <img src="@Url.Action("GenerateQrCode", new { QRText = Model.QRString, QTY = ViewBag.Summa})" alt="qr code" id="ImageQR" name="ImageToPrint" title="@Model.QRString" />
    </p>

    <p class="invis">
        @ViewBag.WIN.FBillNo
    </p>
    <p class="invis">
        @ViewBag.Item.FNumber
    </p>

    <p class="invis">
        @ViewBag.Summa
    </p>
    <p class="invis">
        QR=@Model.QRString
    </p>



</Center>

<p class="invis">
    <button onclick="PrintToEdge('@Url.Action("GenerateQrCode", new { QRText = Model.QRString, QTY = ViewBag.Summa})')" class="btn btn-block btn-success glyphicon glyphicon-print invis">@Resources.Resource.PrintQR</button>
</p>
<p class="invis">
    <button onclick="sendToQuickPrinterChrome()" class="btn btn-block btn-success btn-warning glyphicon    glyphicon-exclamation-sign"> NEW @Resources.Resource.PrintQR</button>
</p>
<!--
<p class="invis">
      <a href="~/POOrderEntries/ScanQR" class="btn btn-block btn-success glyphicon glyphicon-qrcode invis">@Resources.Resource.OtskaniruiteNomenklaturu</a>
    </p>
          -->
<p class="invis">
    <a href="~/POOrderEntries/ScanirovanieQR?QRData=@Model.QRString" class="btn btn-block btn-success glyphicon glyphicon-info-sign invis">@Resources.Resource.Info</a>
</p>
<p><a href="/Home/Index" class="btn btn-success btn-block invis">@Resources.Resource.VGlavnoeMenu &raquo;</a> </p>
<script>
    function PI() {
        popup = window.open();
        var Img = $('#ImageQR').get(0).outerHTML;
        alert(Img);
        popup.document.write(Img);
        popup.
            popup.focus(); //required for IE
        popup.print();
    }
</script>

<script>
    function PrintEvgeny() {
        $(".invis").hide();
        window.print();
        return false;


    }
</script>

<script>

    function ImagetoPrint(source) {

        var X = '@Model.QRString';
        var XX = X.split(";");
        var Nom = '@Resources.Resource.PartNumber';
        var Name = '@Resources.Resource.Nomenklatura';
        var QTY = ' @Resources.Resource.KolichestvoNomenklaturi';
        var Date = '@Resources.Resource.Date';
        var W = "160px"
        var H = "128px"


         return "<html><head><scri" + "pt>function step1(){\n" +
            "setTimeout('step2()', 10);}\n" +
            "function step2(){window.print();window.close()}\n" +
            "</scri" + "pt>"+
			"<style>@@media print { @@page {padding: 0; margin: 0;}}</style>"+
			"</head><body onload='step1()'>\n" +
            "<img width ='" + W + "' height = '" + H + "' src='" + source + "' /></body></html>";
     /*   return "<html><head><scri" + "pt>function step1(){\n" +
            "setTimeout('step2()', 10);}\n" +
            "function step2(){window.print();window.close()}\n" +
            "</scri" + "pt></head><body onload='step1()'>\n" +
            "<img width ='" + W + "' height = '" + W + "' src='" + source + "' /></body></html>";*/

     }

    function PrintImage(source) {
        var Pagelink = "about:blank";
        var pwa = window.open(Pagelink, "_new");
        pwa.document.open();
        pwa.document.write(ImagetoPrint(source));
        pwa.document.close();
    }

</script>
<script>
    function PrintToEdge(source) {
        var ua = navigator.userAgent.toLowerCase();
        var isAndroid = ua.indexOf("android") > -1; //&& ua.indexOf("mobile");




        if (isAndroid)
        {
            var Pagelink = "about:blank";
            var pwa = window.open(Pagelink, "_new");
            pwa.document.open();
            pwa.document.write(ImagetoPrint(source));
        }
        else
        {
        //  PrintImage('@Url.Action("GenerateQrCode", new { QRText = Model.QRString})');
PrintImage(source);
            //   pwa.print();
        }


        //  parent.document.getElementsByName("ImageToPrint")[0].document.exe("print", false, null);
    }
</script>
<script>
    function PrintImage2() {

        var Img = $('#ImageQR').prop('src');

        var wImage = $('#ImageQR').prop('width');
        var hImage = $('#ImageQR').prop('height');
        alert(wImage + " " + hImage + " " + Img)
        var wind = open(Img, 'Печатаем картинку', 'width=' + wImage + ',height=' + hImage + ',status=no,toolbar=no,menubar=no,location=no,scrollbar=0,resizable=yes');
        wind.document.writeln('');
        wind.document.close();
        wind.focus();
        wind.print();
        wind.close();


    }
</script>
<script>
function sendToQuickPrinterChrome(){
    var text = "<IMAGE370x296>"+"http://192.168.110.9"+"@Url.Action("GenerateQrCode", new { QRText = Model.QRString, QTY = ViewBag.Summa })"+"<BR>";
    text=text.replace("amp;","");
    window.location.href="intent://"+text+"#Intent;scheme=quickprinter;package=pe.diegoveloper.printerserverapp;end;";


    }
</script>


