@model IEnumerable<KDW.Models.POOrderEntry>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            }
    </script>
}


<style>
    .description {
        width: 200px;
        word-wrap: break-word;
        word-break: break-all;
        font-size: 10px
    }
</style>

<table id="T" class="table table-bordered table-striped"
       data-toggle="table"
       data-filter-control="true">
    @if (Model != null)
    {
        <thead>
            <tr>

                <th data-field="Nomenklatura" data-filter-control="input" data-sortable="true">
                    <p>
                        @Resources.Resource.Nomenklatura
                    </p>



                </th>





            </tr>


        </thead>

        foreach (var item in Model)
        {
            bool Vosstanovit = false;
            string Cvet = "";
            string BtnText = Resources.Resource.PostuplenieNaSklad;
            string BtnCvet = "btn btn-success";

            if (item.FQty == item.FCommitQty)
            {
                Cvet = "success";
                Vosstanovit = true;
                BtnCvet = "btn btn-success";
                BtnText = Resources.Resource.GenerateQR;
            }
            <tr class="@Cvet ">

                <td>

                    <p>
                        @item.t_Item.FNumber
                    </p>
                    <p class="description">
                        @item.t_Item.FName
                    </p>

                    <p>
                        @Resources.Resource.QTYPostupilo
                    </p>
                    <p>
                        @Math.Round(item.FCommitQty, 2) / @Math.Round(item.FQty, 2)
                    </p>

                    <p title="@Resources.Resource.Date">
                        @item.FCloseEntryDate
                    </p>
                    <p>
                        @Resources.Resource.ZakazPostavshiku
                    </p>
                    <p>
                        @item.POOrder.t_Supplier.FName
                    </p>
                    <p>
                        @item.POOrder.FBillNo
                    </p>



                    @if (!Vosstanovit)
                    {
                        <p>
                            @Html.ActionLink(BtnText, "NewPostuplenie", new { id = item.FInterID, EntryId = item.FEntryID, Tip="POORD" }, new { @class = "btn btn-success btn-block" })
                        </p>
                    }
                    else
                    {
                        <p>
                            @Html.ActionLink(BtnText, "VosstanovitPostuplenie", new { id = item.FInterID, EntryId = item.FEntryID, Tip = "POORD" }, new { @class = "btn btn-success btn-block" })
                        </p>

                    }



                </td>

            </tr>

        }
    }

    @foreach (var WW in ViewBag.SCE)
    {
        bool Vosstanovit = false;
        string Cvet = "";
        string BtnText = Resources.Resource.PostuplenieNaSklad;
        string BtnCvet = "btn btn-success";

        if (WW.FQty == WW.FCommitQty)
        {
            Cvet = "success";
            Vosstanovit = true;
            BtnCvet = "btn btn-success";
            BtnText = Resources.Resource.VosstanovitQR;
        }
        <tr class="@Cvet ">

            <td>

                <p>
                    @WW.t_Item.FNumber
                </p>
                <p class="description">
                    @WW.t_Item.FName
                </p>

                <p>
                    @Resources.Resource.QTYPostupilo
                </p>
                <p>
                    @Math.Round(WW.FCommitQty, 2) / @Math.Round(WW.FQty, 2)
                </p>

                <p title="@Resources.Resource.Date">
                    @WW.ICSubContract.FDate
                </p>
                <p>
                    @Resources.Resource.ZakazPostavshiku
                </p>
                <p>
                    @WW.ICSubContract.Supplier.FName
                </p>
                <p>
                    @WW.ICSubContract.FBillNo
                </p>



                @if (!Vosstanovit)
                {
                    <p>
                        @Html.ActionLink(BtnText, "NewPostuplenie", new { id = WW.FInterID, EntryId = WW.FEntryID, Tip = "WW" }, new { @class = "btn btn-success btn-block" })
                    </p>
                }
                else
                {
                    <p>
                        @Html.ActionLink(BtnText, "VosstanovitPostuplenie", new { id = WW.FInterID, EntryId = WW.FEntryID, Tip = "WW" }, new { @class = "btn btn-success btn-block" })
                    </p>

                }



            </td>

        </tr>

    }


</table>
<p><a href="/Home/Index" class="btn btn-success btn-block">@Resources.Resource.VGlavnoeMenu &raquo;</a> </p>
