@model IEnumerable<KDW.Models.InterfaceSelect>


<center>
    <h2>Тест интерфейса</h2>
</center>

<p>
    Выберите интерфейс
</p>
<p>
    @Html.DropDownList("Interfaces", new SelectList(ViewBag.Interfaces), htmlAttributes: new { @class = "form-control" })
</p>
<p>
    Выберите подразделение 
</p>

<p>
    @Html.DropDownList("Departments", new SelectList(ViewBag.Departments, "Key", "Value"), htmlAttributes: new { @class = "form-control" }) 
</p>

<p>
    Склады доступные в интерфейсе (Нажмите тест чтобы проверить)
</p>

<p>
    @Html.DropDownList("Stocks", new SelectList(ViewBag.Stocks, "Key", "Value"), htmlAttributes: new { @class = "form-control" })
</p>


<button class="btn btn-success btn-block" onclick="Refresh()"> Тест </button>
<p>
    @Html.ActionLink("Создать", "Create", null, new { @class = "btn btn-success btn-block" })
</p>
<table id="T" class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InterfaceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkladPriemki)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkladBraka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkladUchastka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkladBrakaUchastka)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkladVozvrataNZP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkladBuferZone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkladPeremesheniyaBuferZone)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InterfaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkladPriemki)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkladBraka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkladUchastka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkladBrakaUchastka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkladVozvrataNZP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkladBuferZone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkladPeremesheniyaBuferZone)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<p><a href="/Home/Index" class="btn btn-success btn-block">В главное меню &raquo;</a> </p>
<script>
    function Refresh() {
        var Interface = $('#Interfaces').val();
        var Depts = $('#Departments').val();
        var url = "@Url.Action("InterfaceTest", "InterfaceSelects")?Interface=" + Interface + "&DepartmentId=" + Depts;
        var Dropdown = $('#Stocks');

        window.location.replace(url);
           // $.post(url,
           //     function (data) {


                 //  Dropdown.empty();

                 //   $.each(data, function (key, value) {
                  //      Dropdown.append($('<option>', { value: value }).text(value));



             //       }
              //          }
       // );
    }
</script>