@model IEnumerable<KDW.Models.DepartmentsToUsers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Главная</h2>

<p>
    @Html.ActionLink("Создать", "Create", null, new {@class = "btn btn-success btn-block"})
</p>
<table id="T" class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateNaznacheniya)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsersKDW.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateNaznacheniya)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.FName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UsersKDW.Name)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<p><a href="/Home/Index" class="btn btn-success btn-block">В главное меню &raquo;</a> </p>
