@model KDW.Models.ICStockBillEntry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ICStockBillEntry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FBrNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FBrNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FQtyMust)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FQtyMust)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FBatchNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FBatchNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSCBillInterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSCBillInterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSCBillNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSCBillNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FUnitID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FUnitID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAuxPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAuxPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAuxQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAuxQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAuxQtyMust)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAuxQtyMust)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FQtyActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FQtyActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAuxQtyActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAuxQtyActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPlanPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPlanPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAuxPlanPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAuxPlanPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSourceEntryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSourceEntryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCommitQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCommitQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAuxCommitQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAuxCommitQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKFDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKFDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FKFPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FKFPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FDCSPID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FDCSPID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSCSPID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSCSPID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FConsignPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FConsignPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FConsignAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FConsignAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FProcessCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FProcessCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FMaterialCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FMaterialCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FTaxAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FTaxAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FMapNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FMapNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FMapName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FMapName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOrgBillEntryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOrgBillEntryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOperID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOperID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPlanAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPlanAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FProcessPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FProcessPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FTaxRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FTaxRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSnListID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSnListID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAmtRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAmtRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAuxPropID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAuxPropID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPriceRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPriceRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAuxPriceRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAuxPriceRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FFetchDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FFetchDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FQtyInvoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FQtyInvoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FQtyInvoiceBase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FQtyInvoiceBase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FUnitCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FUnitCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSecCoefficient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSecCoefficient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSecQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSecQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSecCommitQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSecCommitQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSourceTranType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSourceTranType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSourceInterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSourceInterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSourceBillNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSourceBillNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FContractInterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FContractInterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FContractEntryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FContractEntryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FContractBillNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FContractBillNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FICMOBillNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FICMOBillNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FICMOInterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FICMOInterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPPBomEntryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPPBomEntryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOrderEntryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOrderEntryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOrderBillNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOrderBillNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAllHookQTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAllHookQTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAllHookAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAllHookAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCurrentHookQTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCurrentHookQTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCurrentHookAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCurrentHookAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FStdAllHookAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FStdAllHookAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FStdCurrentHookAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FStdCurrentHookAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSCStockID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSCStockID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPeriodDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPeriodDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCostObjGroupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCostObjGroupID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCostOBJID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCostOBJID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FDetailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FDetailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FMaterialCostPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FMaterialCostPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FReProduceType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FReProduceType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FBomInterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FBomInterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FDiscountRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FDiscountRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FDiscountAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FDiscountAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSepcialSaleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSepcialSaleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOutCommitQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOutCommitQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOutSecCommitQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOutSecCommitQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FDBCommitQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FDBCommitQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FDBSecCommitQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FDBSecCommitQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAuxQtyInvoice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAuxQtyInvoice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOperSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOperSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCheckStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCheckStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSplitSecQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSplitSecQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FInStockID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FInStockID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSaleCommitQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSaleCommitQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSaleSecCommitQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSaleSecCommitQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSaleAuxCommitQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSaleAuxCommitQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSelectedProcID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSelectedProcID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FVWInStockQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FVWInStockQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAuxVWInStockQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAuxVWInStockQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSecVWInStockQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSecVWInStockQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSecInvoiceQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSecInvoiceQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCostCenterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCostCenterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPlanMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPlanMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FMTONo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FMTONo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSecQtyActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSecQtyActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSecQtyMust)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSecQtyMust)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FClientOrderNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FClientOrderNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FClientEntryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FClientEntryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FRowClosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FRowClosed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCostPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCostPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FItemSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FItemSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FItemSuite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FItemSuite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPositionNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPositionNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAcctCheck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAcctCheck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FClosing)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FClosing)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FDeliveryNoticeEntryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FDeliveryNoticeEntryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FDeliveryNoticeFID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FDeliveryNoticeFID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIsVMI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIsVMI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySupply)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySupply)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FChkPassItem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FChkPassItem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSEOutInterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSEOutInterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSEOutEntryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSEOutEntryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSEOutBillNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSEOutBillNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FConfirmMemEntry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FConfirmMemEntry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FWebReturnQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FWebReturnQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FWebReturnAuxQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FWebReturnAuxQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FItemStatementBillNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FItemStatementBillNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FItemStatementEntryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FItemStatementEntryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FItemStatementInterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FItemStatementInterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCommitAmt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCommitAmt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FFatherProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FFatherProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FRealAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FRealAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FRealPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FRealPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FDefaultBaseQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FDefaultBaseQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FDefaultQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FDefaultQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FRealStockBaseQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FRealStockBaseQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FRealStockQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FRealStockQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FDiscardID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FDiscardID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOLOrderBillNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOLOrderBillNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FLockFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FLockFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfB0168)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfB0168)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfB0169)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfB0169)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfB0857)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfB0857)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfA0159)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfA0159)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfA0557)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfA0557)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfB0456)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfB0456)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfB0457)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfB0457)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfB0458)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfB0458)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfA0160)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfA0160)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfB0459)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfB0459)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfB0858)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfB0858)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfA0558)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfA0558)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfB0460)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfB0460)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfA0240)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfA0240)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfA0161)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfA0161)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FReturnNoticeBillNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FReturnNoticeBillNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FReturnNoticeEntryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FReturnNoticeEntryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FReturnNoticeInterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FReturnNoticeInterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FProductFileQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FProductFileQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FServiceRequestNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FServiceRequestNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSplitState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSplitState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FQtySplit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FQtySplit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAuxQtySplit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAuxQtySplit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAddQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAddQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAuxAddQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAuxAddQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPurchaseAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPurchaseAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FCheckAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FCheckAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOutSourceInterID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOutSourceInterID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOutSourceEntryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOutSourceEntryID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FOutSourceTranType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FOutSourceTranType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FProcessTaxPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FProcessTaxPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FProcessTaxCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FProcessTaxCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FShopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FShopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPostFee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPostFee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FReviewBillsQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FReviewBillsQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FPTLQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FPTLQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FBarCodeListID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FBarCodeListID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntryAccessoryCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntryAccessoryCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAUXQTY_Gain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAUXQTY_Gain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FAUXQTY_Loss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FAUXQTY_Loss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FNeedBackFlush)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FNeedBackFlush)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FBackFlushFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FBackFlushFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FSendPlanID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FSendPlanID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FEntrySelfA0173)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FEntrySelfA0173)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_Item.FNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_Item.FNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ICStockBill.FBrNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ICStockBill.FBrNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POOrder.FBrNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POOrder.FBrNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.t_StockTo.FBrNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_StockTo.FBrNO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
